<div>
    <h2>Login</h2>
    <div class="container">
    <!-- login.component.html -->
<form>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" />
    </div>

    <div>
        <button type="button" (click)="login()">Login</button>
    </div>
    <a routerLink="/register">Not registered yet? Register Now!</a>
</form>

      <img src="assets/home2.png" alt="Image Alt Text" />
    </div>

    
</div>
