<div>
  <h2>Register</h2>
  <div class="container">
  <!-- login.component.html -->
<form>
  <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="email" />
  </div>

  <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" />
  </div>

  <div>
      <button type="button" (click)="register()">Register</button>
  </div>
</form>

    <img src="assets/home2.png" alt="Image Alt Text" />
  </div>

  
</div>
